.home-page {
  background-color: var(--color-bg-light);
  display: flex;
}
.brand-name {
  font-size: 4rem;
  margin-bottom: 4rem;
  cursor: pointer;
}

.left-section {
  margin: 6rem 0 0 4rem;
}

.nav-link {
  text-decoration: none;
  color: white;
}
