.nav {
  background-color: var(--color-bg-light);
  width: 100%;
  min-height: 5rem;
  z-index: 2;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.navbar-brand-name {
  font-size: 2rem;
  margin-left: 1rem;
  cursor: pointer;
}

.nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.nav-option,
.btn {
  font-size: 1.5rem;
  cursor: pointer;
}

.btn {
  border: transparent;
  background-color: transparent;
}

.search-box {
  display: flex;
  border: 1px solid;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
}

.search-bar {
  border: none;
  background-color: transparent;
  padding: 0.1rem 2rem;
  outline: 0px;
}
