.notes-container{
    display: flex;
}

.notes-card{
    margin: 6rem 0 0 2rem;
    display: flex;
    gap: 4rem;
    border: 1px solid;
    width: fit-content;
    padding: 1rem;
    border-radius: 0.5rem;
}