.note-editor {
  width: 60%;
  min-height: 10rem;
  padding: 2rem;
  margin-top: 1rem;
  margin-left: 20rem;
}

.notes-title{
  width: 100%;
  padding: 10px;
  outline: 0px;
  border: transparent;
}

.notes-text{
  height: 10rem;
  }

.form-container{
  width: 70%;
  padding-bottom: 15px;
  border: 1px solid;
  border-radius: 5px;
}
.btns
{
  display: flex;
  flex-direction: row;
  margin-left: 25rem;
}

.notes-btn{
  margin-left: 1rem;
  margin-top: 4rem;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
}

.quill {
  font-family: "Rubik", sans-serif;
  width: 100%;
  gap: 1rem;
  font-size: 2rem;
}

.ql-snow.ql-toolbar button:hover {
  background-color: #eaecec;
}

.ql-container.ql-snow {
  border: transparent;
}
